body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.Container {
  padding: 20px;
  text-align: center; /* Center the CircularProgress */
}

.MuiCircularProgress-root {
  margin: 20px 0; /* Add margin for better spacing */
}
